body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.image-container {
    position: relative;
    display: inline-block;
}

#baseImage {
    max-width: 600px; /* Adjust as needed */
    height: auto;
}

#userLogo{
    height: auto;
    width: 100%;
}
.userUploadLogo{
    height: 50px;
    width: 65px;
    border: 0.1px dashed;
    transform: translate(351px, 211px);
}
.sanket{
    opacity: 0;
    position: absolute;
    z-index: 0;
    width: 100%;
    top: 0;
    height: 100%;
    width: 100%;
}